#clockContainer{
    position:relative;
    margin:auto;
    height:40vw;
    width:40vw;
    background:url(clock.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position:absolute;
    background:black;
    border-radius:10px;
    transform-origin: bottom;
}
#hour{
    width:8px;
    height:20%;
    top:18.7%;
    left:48.6%;
    opacity: 0.8;
}
#minute{
    width:5px;
    height:22%;
    top:16.5%;
    left:48.9%;
    opacity:0.8;
}
#second{
    width:5px;
    height:25%;
    top:13.5%;
    left:48.9%;
}